@import '../../assets/styles/global.css';
@import '../../assets/styles/normalize.css';

.bg-wrapper {
  background: url('../../assets/images/backgrounds/top-bg-noise.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.header {
  margin-top: 30px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo__title {
  color: var(--color-primary);
  
}

.logo__subtitle {
  display: block;
  font-family: var(--color-primary);
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: .1em;
  color: var(--color-light-xl);
  margin-top: 8px;
  margin-left: 4px;
}

.header__nav {
  margin-top: 16px;
}

.nav__list {
  display: flex;
  gap: 36px;
}

.nav__link {
  font-family: var(--font-primary);
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-s);
  cursor: default;
}

.nav__link:not(.link_active):hover {
  color: var(--color-primary);
  cursor: pointer;
}

.promo {
  margin-top: 87px;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
}

.promo__content {
  max-width: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 163px;
}

.promo__title {
  width: 310px;
}

.promo__text {
  color: var(--color-dark-s);
  font-size: 15px;
  line-height: 1.6;
}

.promo__image {
  max-width: 698px;
  flex-basis: 100%;
  height: 728px;
  background: url('../../assets/images/promo/puppy.png') center / contain no-repeat;
}
