@import '../../assets/styles/global.css';
@import '../../assets/styles/normalize.css';

.bg-wrapper {
  background: url('../../assets/images/backgrounds/top-bg-noise.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.header {
  margin-top: 30px;
  margin-bottom: 30px;

  @media (width < 414px) { 
    padding: 0 10px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  @media (width < 768px) {
    align-items: center;
  }
}

.logo {
  display: flex;
}

.logo__title {
  color: var(--color-primary);
}

.logo__subtitle {
  display: block;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 1.3px;
  color: var(--color-light-xl);
  margin-top: 11px;
  margin-left: 4px;
}

.header__nav {
  margin-top: 16px;

  @media (width < 768px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  gap: 36px;
}

.nav__link {
  font-family: var(--font-primary);
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-s);
  position: relative;
  transition: var(--transition);
}

.nav__link:not(.link_active)::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  bottom: -7px;
  left: 50%;
  height: 3px;
  background-color: var(--color-primary);
  transform: translateX(-50%);
  transition: var(--transition);
}

.nav__link:not(.link_active):hover {
  color: var(--color-primary);
  cursor: pointer;
}

.nav__link:not(.link_active):hover:after {
  width: 100%;
}

.burger {
  display: none;
  width: 30px;
  height: 24px;
  position: relative; 
  cursor: pointer;

  @media (width < 768px) {
    display: block;  
  }
}

.burger__line {
  position: absolute;
  top: calc(50% - 1px);
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
}

.burger__line::after, .burger__line::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
}

.burger__line::before {
  top: -10px;
}

.burger__line::after {
  bottom: -10px;
}

.promo {
  margin-top: 89px;

  @media (width < 1024px) {
    margin-top: 58px;
  }
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;

  @media (width < 1024px) {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  @media (width < 414px) {
    gap: 105px;
  }
}

.promo__content {
  max-width: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 163px;

  @media (width < 1024px) {
    margin-top: 0;
  }
}

.promo__title {
  width: 310px;

  @media (width < 414px) { 
    width: 250px;
    text-align: center;
    margin: 0 auto;
  }
}

.promo__text {
  color: var(--color-dark-s);
  font-size: 15px;
  line-height: 1.6;

  @media (width < 414px) {
    text-align: center;
  } 
}

.promo__link {
  margin-bottom: 30px;

  @media (width < 1024px) {
    align-self: center;
    margin-bottom: 0;
  }
}

.promo__visual {
  max-width: 698px;
  width: 100%;
  align-self: end;

  @media (width < 1024px) {
    max-width: 569px;
  }

  @media (width <= 768px) {
    align-self: end;
  }

  @media (width <= 414px) {
    max-width: min(100%, 260px);
  }
}

.promo__image {
  display: block;
  width: 100%;
}

.about {
  margin-top: 80px; 
  margin-bottom: 100px;

  @media (width <= 414px) {
    margin-top: 42px;
    margin-bottom: 42px;
  }
}

.about__wrapper {
  display: flex;
  justify-content: center;
  gap: 120px;
  
  @media (width <= 1024px) {
    flex-wrap: wrap-reverse;
  }

   @media (width <= 768px) {
    gap: 80px;
  }

   @media (width <= 414px) {
    gap: 40px;
  }
}

.about__content {
  margin-top: 15px;
  
  @media (width <= 768px) {
    margin-top: 0;
  }
}

.about__title {
  width: 370px;
  display: flex;
  flex-direction: column;

  @media (width <= 414px) {
    width: 250px;
    text-align: center;
    margin: 0 auto;
  }
}

.about__text {
  width: clamp(300px, 60vw, 430px);
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 23px;

  @media (width <= 414px) {
    width: 270px;
    text-align: justify;
  }
}

.about__text-content {
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-xl);
}

.about__image {
  width: 300px;
  height: 408px;
  background: url('../../assets/images/about/pets.png') center / contain no-repeat;

  @media (width < 1024px) {
   flex: 1 0 100%;
  }

  @media (width < 414px) {
    width: 260px;
    height: 353px;
  }
}

.pets {
  padding-top: 81px;
  padding-bottom: 100px;
  background-color: var(--color-light-l);

  @media (width < 1024px) {
    padding-top: 83px;
  }

  @media (width < 414px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.pets__title {
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.pets__link {
  display: block;
  margin: 0 auto;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 60px 0 59px;

   @media (width <= 768px) {
    gap: 10px;
  }

  @media (width < 500px) {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 20px 80px;
    margin: 42px 0 42px;
  }
}

.slider__wrapper {
  width: 990px;
  
  @media (width < 500px) {
    order: 1;
  }
}

.slider__list {
  display: flex;
  justify-content: space-between;
  gap: 15px;

   @media (width < 1040px) {
    justify-content: center;
    gap: 2.5em;
  }

  @media (width <= 500px) {
    order: 1;
  }
}

.slider__item:last-child {
  @media (width < 1040px) {
    display: none;
  }
}

.slider__item:nth-last-child(2) {
  @media (width < 768px) {
    display: none;
  }
}

.slider__button {
  flex: 0 0 52px;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 2px solid var(--color-primary);
  background: url('../../assets/icons/Arrow.svg') center / 14px 6px no-repeat; 
  transition: var(--transition);
  cursor: pointer;
}

.slider__button:hover  {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.slider__button_next {
  transform: rotate(180deg);
} 

.slide {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 270px;
  height: 435px;
  background-color: var(--color-light-xl);
  border-radius: 9px; 
  cursor: pointer;
  transition: var(--transition);
}

.slide:hover {  
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slide:hover .link_btn {
  background-color: var(--color-primary-light);
}

.slide__image {
  width: 100%;
  height: 270px;
  border-radius: 9px 9px 0 0;
}

.slide__image_katrine {
  background: url('../../assets/images/slider/katrine.png') center / contain no-repeat;
}

.slide__image_jennifer {
  background: url('../../assets/images/slider/jennifer.png') center / contain no-repeat;
}

.slide__image_woody {
  background: url('../../assets/images/slider/woody.png') center / contain no-repeat;
}

.slide__image_sophia {
  background: url('../../assets/images/slider/sophia.png') center / contain no-repeat;
}

.slide__image_timmy {
  background: url('../../assets/images/slider/timmy.png') center / contain no-repeat;
}

.slide__image_charly {
  background: url('../../assets/images/slider/charly.png') center / contain no-repeat;
}

.slide__image_scarlett {
  background: url('../../assets/images/slider/scarlet.png') center / contain no-repeat;
}

.slide__image_freddie {
  background: url('../../assets/images/slider/freddie.png') center / contain no-repeat;
}

.slide__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.slide__title {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.136;
  letter-spacing: .06em;
  color: var(--color-dark-l);
  margin-left: 1px;
}

.help {
  margin-top: 80px;
  margin-bottom: 100px;

  @media (width <= 414px) {
    margin-top: 42px;
    margin-bottom: 41px;
  }
}

.help__title {
  width: 310px;
  text-align: center;
  margin: 0 auto;

 @media (width <= 414px) {
    width: 270px;
  }
}

.help__subtitle {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: .06em;
  color: var(--color-dark-l);
  margin-left: 1px;

  @media (width < 670px) {
    font-size: 15px;
    line-height: 1.1;
  }
}

.help__categories {
  max-width: 1026px;
  width: 100%;
  margin: 58px auto 0;
  
  @media (width < 414px) {
    margin-top: 40px;
    width: 290px;
  }
}

.help__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 55px 118px;

  @media (width < 1024px) {
      gap: 55px 60px;
  }

  @media (width < 414px) {
    justify-content: flex-start;
    gap: 31px 30px;
  }
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media (width < 1024px) {
    width: 170px;
  }

  @media (width < 670px) {
    width: 130px;
  }

  @media (width < 414px) {
    gap: 20px;
  }
}

.help__image {
  width: 60px;
  height: 60px;

  @media (width < 670px) {
    width:50px;
    height: 50px;
  }
}

.help__image_food {
  background: url('../../assets/icons/help/icon-pet-food.svg') center / contain no-repeat;
}

.help__image_transport {
  background: url('../../assets/icons/help/icon-transportation.svg') center / contain no-repeat;
}

.help__image_toys {
  background: url('../../assets/icons/help/icon-toys.svg') center / contain no-repeat;  
}

.help__image_bowls {
  background: url('../../assets/icons/help/icon-bowls-and-cups.svg') center / contain no-repeat;
}

.help__image_shampoos {
  background: url('../../assets/icons/help/icon-shampoos.svg') center / contain no-repeat;  
}

.help__image_vitamins {
  background: url('../../assets/icons/help/icon-vitamins.svg') center / contain no-repeat;
}

.help__image_medicines {
  background: url('../../assets/icons/help/icon-medicines.svg') center / contain no-repeat;
}

.help__image_collars {
  background: url('../../assets/icons/help/icon-collars-leashes.svg') center / contain no-repeat;
}

.help__image_areas {
  background: url('../../assets/icons/help/icon-sleeping-area.svg') center / contain no-repeat;
}

.donation {
  background-color: var(--color-light-l);
  padding-top: 80px;
  padding-bottom: 100px;

  @media (width < 1024px) {
    padding-bottom: 96px;
  }

  @media (width < 768px) {
    padding-top: 42px;
    padding-bottom: 96px;
  }

  @media (width < 414px) {
    padding-bottom: 40px;
  }
}

.donation__wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: stretch;

  @media (width < 1024px) {
    flex-wrap: wrap-reverse;
    gap: 60px;
  }

  @media (width <= 768px) {
    gap: 40px;
  }
}

.donation__content {
  width: 380px;

  @media (width < 414px) {
    width: 281px;
    text-align: center;
  }
}

.donation__title {
  width: 300px;

  @media (width < 414px) {
    width: 220px;
    margin: 0 auto;
  }
}

.donation__text {
  font-family: var(--font-secondary);
  color: var(--color-dark-l);
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: .06em;
  margin-top: 20px;

   @media (width <= 768px) {
    margin-top: 20px;
  }

   @media (width < 414px) {
    letter-spacing: normal;
    line-height: 1.6;
  }
}

.donation__card {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  border-radius: 9px;
  background-color: var(--color-primary-light);
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: .06em;
  margin-top: 19px;

   @media (width < 414px) {
    font-size: 15px;
    line-height: 1.1;
  }
}

.donation__card:hover {
  background-color: var(--color-primary);
}

.donation__card span {
  width: 30px;
  height: 23px;
  background: url('../../assets/icons/credit-card.svg') center / contain no-repeat;
}

.donation__description {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-dark-m);
  font-style: italic;
  margin-top: 20px;

   @media (width < 414px) {
   text-align: justify;
  }
}

.donation__visual {
  margin-top: 10px;

  @media (width <= 768px) {
    margin-top: 20px;
  }
}

.footer {
  padding-top: 40px;
  background: url('../../assets/images/backgrounds/top-bg-noise.png'),
              linear-gradient(0deg, #211F20, #211F20),
              radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
  
  @media (width < 1024px) {
    padding-top: 15px;
  }

  @media (width < 414px) {
    padding-top: 12px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;

  @media (width < 1024px) {
    justify-content: center;
    gap: 65px 60px;
  }

  @media (width < 414px) {
    justify-content: center;
    gap: 40px;
  }
}

.footer__info {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 278px;
  width: 100%;

  @media (width < 414px) {
    align-items: center;
  }
}

.footer__info_addresses {
  gap: 32px;
  max-width: 302px;

  @media (width < 414px) {
    margin-top: 0;
    gap: 40px;
  }
}

.footer__title {
  color: var(--color-light-xl);
  width: 280px;
}

.footer__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: var(--color-primary);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: .06em;
}

.footer__link_address {
  align-self: start;
}

.footer__ico {
  display: block;
  width: 40px;
  height: 32px;
}

.footer__ico_email {
  background: url('../../assets/icons/footer/mail.svg') center / contain no-repeat;
}

.footer__ico_phone {
  background: url('../../assets/icons/footer/phone.svg') center / contain no-repeat;
}

.footer__ico_tag {
  flex: 0 0 22px;
  background: url('../../assets/icons/footer/tag.svg') center / contain no-repeat;
}
