@import '../main/style.css';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-light-l);
  margin: 0;
  padding: 30px 0;
}

.header__wrapper {

  @media (width <= 414px) {
    margin: 0 10px;
  }
}

.logo__title {
  color: var(--color-dark-l);
}

.logo__subtitle  {
  color: var(--color-dark-3xl);
}

.nav__link {
  color: var(--color-dark-l);

  @media (width <= 768px) { 
    color: var(--color-light-s);
  }
}

.nav__link:not(.link_active):hover {
  color: var(--color-dark-3xl);
  cursor: pointer;

  @media (width <= 768px) { 
    color: var(--color-primary-light);
  }
}

.burger__line {
  background-color: var(--color-dark);
}

.burger__line::after, .burger__line::before {
  background-color: var(--color-dark);
}

.burger_active .burger__line, 
.burger_active .burger__line::after, 
.burger_active .burger__line::before {
  background-color: var(--color-primary);
}

.main {
  margin-top: 120px;

  @media (width < 1024px){
    margin-top: 117px;
  }

  @media (width <= 414px) {
    margin-top: 120px;
  }
}

.pets {
  
  @media (width <= 768px) {
    padding-bottom: 75px;
  }
  
  @media (width <= 414px) {
    padding-bottom: 43px;
  }
}

.gallery {
  margin-top: 57px;

  @media (width <= 768px) {
    margin-top: 29px;
  }

   @media (width <= 414px) {
    margin-top: 40px;
  }
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  transition: var(--transition);
}

.fade {
  transition: var(--transition);
  opacity: 0;
}

.showcase .slide {
  max-width: 270px;
}


/* Pagination */
.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.pagination__button {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 2px solid var(--color-primary);
  color: var(--color-dark-3xl);
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: .06em;
  transition: var(--transition);
}

.pagination__button[disabled] { 
  cursor: not-allowed;
  color: var(--color-dark-s);
  border-color: var(--color-dark-s);
}

.gallery__button_active {
  background-color: var(--color-primary);
}

.gallery__button:not(.gallery__button_active, .gallery__button[disabled]):hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}