// Colors
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-light: #fff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-3xl: #292929;
$color-dark-xl: #4c4c4c;
$color-dark-l: #00000080;
$color-dark-s: #cdcdcd;
$color-shadow: rgb(0 0 0 / 10%);

// Fonts
$font-primary: "Georgia", serif;
$font-secondary: "Arial", sans-serif;
$letter-spacing-primary: 0.06em;

// Breakpoints
$content-width: 1200px;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width-large: 414px;
$mobile-width: 320px;
